.clip-mask-cc {
    position: absolute;
    width: 75%;
    height: 400px;
    background: rgba(255, 233, 123, 0.75);
    filter: blur(55.88px);
    clip-path: inset(0px -70px 0px 0px round 15px);

    border-radius: 15px; /* Smooths the corners */
}

.background-custom-cc {
    background-color: rgba(240, 240, 240, 0.95);
}

/* For Phone (xs) */
@media only screen and (min-width: 640px) {
    .clip-mask-cc {
        width: 54.36%;
        height: 400px;
        background: rgba(255, 233, 123, 0.6);
        filter: blur(55.88px);
        clip-path: inset(0px -70px 0px 0px round 15px);
    }
}
@media only screen and (min-width: 768px) {
    .clip-mask-cc {
        width: 54.36%;
        height: 600px;
        background: rgba(255, 233, 123, 0.6);
        filter: blur(55.88px);
        clip-path: inset(0px -70px 0px 0px round 15px);
    }
}
@media only screen and (min-width: 1024px) {
    .clip-mask-cc {
        width: 54.36%;
        height: 653px;
        background: rgba(255, 233, 123, 0.6);
        filter: blur(55.88px);
        clip-path: inset(0px -70px 0px 0px round 15px);
    }
}

